
    <div class="custom-p-dialog">
      <p-dialog (onHide)="SaveRating()" header="Details compétition" [(visible)]="displayDetails" [modal]="true"
      [baseZIndex]="10000" [style]="{width: '700px', minWidth: '200px'}" [minY]="70">
      <p-tabView>
        <p-tabPanel header="Details competition">
          <div class="wi__opportunity-card__head">
            <div class="wi__opportunity-card__head__left-part">
              <div class="wi__opportunity-card__company-infos">
                <div>
                  <p class="wi__opportunity-card__company-name">
                    {{ currentCompetition?.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        
          <div class="wi__opportunity-card__body">
            <p class="wi__opportunity-card__company-assets">
              <span>Description:</span><span class="wi__opportunity_card__orange_tag">{{
                currentCompetition?.description
                }}</span>
            </p>
            <p class="wi__opportunity-card__company-assets">
              <span>sportType :</span><span>{{ currentCompetition?.sportType}}</span>
            </p>
            <p class="wi__opportunity-card__company-assets">
              <span>startEvent :</span><span>{{ currentCompetition?.startEvent}}</span>
            </p>
            <p class="wi__opportunity-card__company-assets">
              <span>endEvent :</span><span>{{ currentCompetition?.endEvent }}</span>
            </p>
            <p class="wi__opportunity-card__company-assets">
              <span>latitude :</span><span>{{ currentCompetition?.latitude }}</span>
            </p>
            <p class="wi__opportunity-card__company-assets">
              <span>longitude :</span><span>{{ currentCompetition?.longitude }}</span>
            </p>
          </div>
          <br>
          <div class="wi__opportunity-card__body">
            <div>
              <p class="wi__opportunity-card__company-assets">
                <span>Voter :</span>
                <span>
                  <p-rating [(ngModel)]="rating.number" [cancel]="false"></p-rating>
                </span>
              </p>
            </div>
          </div>
          <ngx-comment [comments]="comments" [currentCompetition]="currentCompetition" ></ngx-comment>
    </p-tabPanel>
    <p-tabPanel header="Liste participants">
      <p-table #dt2 [value]="competitionResults" [columns]="cols" [responsive]="true" [paginator]="true"
      [rowsPerPageOptions]="[20,30,50]" [rows]="20"
      [globalFilterFields]="['user.firstName','user.sportType','user.lastName']">
      <ng-template pTemplate="caption">
          <div class="table-header">
              <span class="p-input-icon-left">
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                      placeholder="Recherche globale" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="firstName">Nom<p-sortIcon field="firstName"></p-sortIcon>
              </th>
              <th pSortableColumn="lastName">Prenom<p-sortIcon field="lastName"></p-sortIcon>
              </th>
              <th pSortableColumn="sportType">type<p-sortIcon field="sportType"></p-sortIcon>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-table>
          <tr>
              <td>{{table?.user?.firstName}}</td>
              <td>{{table?.user?.lastName}}</td>
              <td>{{table?.user?.sportType}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-table>
          <tr>
              <td [attr.colspan]="table.length">
                  <div style="display: flex;
                          justify-content: center;">
                      La liste est vide
                  </div>
  
              </td>
          </tr>
      </ng-template>
  </p-table>
    </p-tabPanel>
  </p-tabView>

     </p-dialog>
    </div>


