<p-toast></p-toast>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Gestion des Compétitions</span></div>
            <div class="col-md-6">
                <span style="float: right">{{dt.totalRecords}} Compétition(s)&nbsp;&nbsp;</span>

            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4" *ngIf="isAutorised()">
                <div class="" style="text-align: center; margin-top: 8px;">
                    <button type="button" (click)="addCompetition()" style="float: right;" class="icon-btn add-btn">
                        <div class="add-icon"></div>
                        <div class="btn-txt">Ajouter une Nouvelle Compétition</div>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <p-table #dt [value]="competitions" [columns]="cols" [loading]="loading" [responsive]="true" [paginator]="true"
            [rowsPerPageOptions]="[20,30,50]" [rows]="20"
            [globalFilterFields]="['name','sportType','startEvent','endEvent']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <!-- <i class="pi pi-search"></i> -->
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Recherche globale" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 100px;">logo</th>
                    <th pSortableColumn="name">Nom cométition <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sportType">Type de sport<p-sortIcon field="sportType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="startEvent">Date début <p-sortIcon field="startEvent"></p-sortIcon>
                    </th>
                    <th pSortableColumn="endEvent">Date fin <p-sortIcon field="endEvent"></p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-table>
                <tr>
                    <td><img width="50" [src]="table.logo" alt=""></td>
                    <td>{{table.name}}</td>
                    <td>{{table.sportType}}</td>
                    <td>{{table.startEvent | date:' yyyy-MM-dd hh:mm'}}</td>
                    <td>{{table.endEvent | date:' yyyy-MM-dd hh:mm'}}</td>
                    <td> <i *ngIf="isAutorised()" (click)="editCompetation(table)"
                            class="far fa-edit cursor buttonround editbutton"></i>&nbsp;&nbsp;
                        <i *ngIf="isValidDate(table.endEvent) && isAutorised()" (click)="deleteCompetation(table)"
                            class="far fa-trash-alt cursor buttonround deletebutton"></i>&nbsp;&nbsp;
                        <i (click)="competationDetails(table)"
                            class="far fa-eye cursor buttonround affiche1button"></i>&nbsp;&nbsp;
                        <span  *ngIf="!table.participated && isValidDate(table.endEvent) && !isAutorised()"><i (click)="participate(table)"
                            class="fas fa-calendar-plus cursor buttonround affiche2button"></i>&nbsp;&nbsp;</span>
                        <i (click)="cancelParticipate(table)" *ngIf="table.participated && isValidDate(table.endEvent) && !isAutorised()"
                        class="fas fa-calendar-minus cursor buttonround affiche2button"></i>&nbsp;&nbsp;
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-table>
                <tr>
                    <td [attr.colspan]="table.length">
                        <div style="display: flex;
                                justify-content: center;">
                            La liste est vide
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </nb-card-body>
</nb-card>

<p-dialog header="Supprimer Compétition" [(visible)]="diplay" [modal]="true" [responsive]="true"
    [style]="{width: '700px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10">
    Voulez-vous bien supprimer cette Compétition ?
    <p-footer>
        <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
            <button style="width: 45%;" type="button" (click)="diplay=false" class="btn wi_btn wi_secondaryBtn">
                Quitter
            </button>
            <button style="width: 45%;" type="button" (click)="confirme()" class="btn wi_btn wi_primaryBtn">
                Supprimer
            </button>
        </div>
    </p-footer>
</p-dialog>
<ngx-details-competition *ngIf="currnetCompetition && displayDetails" (closeDetails)="closeDetails()"
    [displayDetails]="displayDetails" [currentCompetition]="currnetCompetition"></ngx-details-competition>