<p-toast></p-toast>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Gestion des groupes d'entrainement</span></div>
            <div class="col-md-6">
                <span style="float: right">{{dt.totalRecords}} group(s)&nbsp;&nbsp;</span>

            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4" *ngIf="isAutorised()">
                <div class="" style="text-align: center; margin-top: 8px;">
                    <button type="button" (click)="addTrainingGroup()" style="float: right;" class="icon-btn add-btn">
                        <div class="add-icon"></div>
                        <div class="btn-txt">Ajouter un Nouveau groupe</div>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <p-table #dt [value]="trainingGroups" [columns]="cols" [loading]="loading" [responsive]="true" [paginator]="true"
            [rowsPerPageOptions]="[20,30,50]" [rows]="20"
            [globalFilterFields]="['name','sportType','startEvent','endEvent']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <!-- <i class="pi pi-search"></i> -->
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Recherche globale" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Nom group <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sportType">Type de sport<p-sortIcon field="sportType"></p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-table>
                <tr>
                    <td>{{table.name}}</td>
                    <td>{{table.sportType}}</td>
                    <td> <i *ngIf="isAutorised() || isAdmin()" (click)="editTrainingGroup(table)"
                            class="far fa-edit cursor buttonround editbutton"></i>&nbsp;&nbsp;
                        <i *ngIf="isAutorised() || isAdmin()" (click)="deleteTrainingGroup(table)"
                            class="far fa-trash-alt cursor buttonround deletebutton"></i>&nbsp;&nbsp;
                            <i (click)="groupDetails(table)"
                            class="far fa-eye cursor buttonround affiche1button"></i>&nbsp;&nbsp;
                            <span  *ngIf="!table.joined && isSportif()"><i (click)="join(table)"
                                class="fas fa-plus-circle cursor buttonround affiche2button"></i>&nbsp;&nbsp;</span>
                            <i (click)="cancelJoin(table)" *ngIf="table.joined && isSportif()"
                            class="fas fa-minus-circle cursor buttonround affiche2button"></i>&nbsp;&nbsp;
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-table>
                <tr>
                    <td [attr.colspan]="table.length">
                        <div style="display: flex;
                                justify-content: center;">
                            La liste est vide
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </nb-card-body>
</nb-card>

<p-dialog header="Supprimer Groupe" [(visible)]="diplay" [modal]="true" [responsive]="true"
    [style]="{width: '700px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10">
    Voulez-vous bien supprimer ce groupe ?
    <p-footer>
        <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
            <button style="width: 45%;" type="button" (click)="diplay=false" class="btn wi_btn wi_secondaryBtn">
                Quitter
            </button>
            <button style="width: 45%;" type="button" (click)="confirme()" class="btn wi_btn wi_primaryBtn">
                Supprimer
            </button>
        </div>
    </p-footer>
</p-dialog>


<p-dialog header="Liste Sportif" [(visible)]="diplayUsers" [modal]="true" [responsive]="true"
    [style]="{width: '700px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10">
    <p-table #dt2 [value]="users" [columns]="cols" [loading]="loading" [responsive]="true" [paginator]="true"
            [rowsPerPageOptions]="[20,30,50]" [rows]="20"
            [globalFilterFields]="['firstName','sportType','lastName']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <!-- <i class="pi pi-search"></i> -->
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                            placeholder="Recherche globale" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="firstName">Nom<p-sortIcon field="firstName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="lastName">Prenom<p-sortIcon field="lastName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sportType">type<p-sortIcon field="sportType"></p-sortIcon>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-table>
                <tr>
                    <td>{{table.firstName}}</td>
                    <td>{{table.lastName}}</td>
                    <td>{{table.sportType}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-table>
                <tr>
                    <td [attr.colspan]="table.length">
                        <div style="display: flex;
                                justify-content: center;">
                            La liste est vide
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>
</p-dialog>