.has-error {
    border-color: #d33c3c !important;
    color: #d33c3c;
  }
  .login-container {
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3 {
    text-align: center;
    color: #333;
  }
  .login-form-2 {
    padding: 5%;
    //background: #0062cc;
    background-image: url("../../../assets/images/login3.jpg");
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-2 h3 {
    text-align: center;
    color: #fff;
  }
  .login-container form {
    padding: 10%;
  }
  .btnSubmit {
    width: 37%;
      border-radius: 2rem;
      padding: 2.5%;
      border: none;
      cursor: pointer;
  }
  .login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
  }
  .login-form-2 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #CF5FFE;
  }
  .login-form-2 .ForgetPwd {
    color: #0F9CC1;
    font-weight: 600;
    text-decoration: none;
  }
  .login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
  }
  .Auth{
    background-color: white;
    display:flex;
    text-align:center;
    align-items: center
  }
  
  @media screen and (min-width: 200px) and (max-width: 640px) {
    .btnSubmit {
      width: 100% !important;
  
    }
  }
  
  a:hover {
    color: #9e9e9ecc !important;
  }
  
  .label-has-error {
    color: #d33c3c;
    margin-top: 1%;
    margin-left: 2%;
  }

  /* ----- Form -----*/

.wi__login-btn {
    font-family: "Avenir Heavy", sans-serif;
    background: #009B7C;
    border: none;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
}
.wi__login-btn:hover {
    background: #007960;
}
.wi__register-link {
    text-align: center;
}
.wi__register-link p {
    margin-bottom: 0;
    color: #58575A;
}
.wi__register-link p a {
    color: #009B7C;
}
.wi__register-link p a:hover {
    color: #007960;
    text-decoration: none;
}




  