<p-toast></p-toast>
<div class="container login-container">
  <div class="row">
    <div class="col-md-4 login-form-1 Auth slider-container" style="justify-content: center">
      <div style="margin-top: 1%;">
        <h2 class="cursor" (click)="goHome()">ESF</h2>
        <img src="../../../assets/images/login2.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-8 login-form-2">
      <h3></h3>
      <form [formGroup]="loginform" (ngSubmit)="doLogin()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"><i style="color: #352C60"
                  class="fas fa-user"></i></span>
            </div>
            <input type="text" id="identifiant" aria-label="Default" class="form-control" formControlName="username"
              aria-describedby="inputGroup-sizing-default"
              [ngClass]="{'has-error': (isSubmitted && (formControls.username.errors )) }" placeholder="login" required
              autofocus />
          </div>
          <label *ngIf=" isSubmitted && (formControls.username.errors )" class="label-has-error">Veuiller saisir votre login</label>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"><i style="color: #352C60"
                  class="fas fa-lock"></i></span>
            </div>
            <input type="password" id="identifiant" class="form-control cursor" aria-label="Default"
              placeholder="mot de passe" formControlName="password" aria-describedby="inputGroup-sizing-default"
              [ngClass]="{'has-error': (isSubmitted && (formControls.password.errors )) }" required />
          </div>
          <label *ngIf=" isSubmitted && (formControls.password.errors )" class="label-has-error">Veuiller saisir votre mot de passe</label>
        </div>
        <div class="form-group">

          <a (click)="forgetPassWord()" class="ForgetPwd" value="Login" style="color:#0F9CC1">Mot de passe oublié ?</a>
        </div>
        <div id="kc-form-buttons" class="form-group">
          <input type="hidden" id="id-hidden-input" name="credentialId" />
          <input tabindex="4" class="wi__login-btn btn btn-primary btn-block btn-lg" name="login" id="kc-login"
            type="submit" value="Se Connecter" />
        </div>
        
        <div id="kc-info" class="login-pf-signup">
          <div id="kc-info-wrapper" class="">
            <div class="wi__register-link" id="kc-registration">
              <p>Nouvel utilisateur ? <a tabindex="6" routerLink="/auth/register">S'inscrire</a></p>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>