<p-toast></p-toast>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Gestion Profile</span></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p-tabView>
            <p-tabPanel header="Modifier Profile">
                <ngx-profil></ngx-profil>
            </p-tabPanel>
            <p-tabPanel header="Modifier Mot de passe">
                <ngx-change-password></ngx-change-password>
            </p-tabPanel>
            <p-tabPanel header="désactiver Compte" *ngIf="!isAdmin()">
                Voulez-vous bien désactiver votre Compte ?
                <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
                    <button style="width: 45%;" type="button" (click)="disable()" class="btn wi_btn wi_primaryBtn">
                        désactiver votre Compte
                    </button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Supprimer Compte" *ngIf="!isAdmin()">
                Voulez-vous bien supprimer votre Compte ?
                <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
                    <button style="width: 45%;" type="button" (click)="delete()" class="btn wi_btn wi_primaryBtn">
                        Supprimer votre Compte
                    </button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="liste Compétition" *ngIf="!isAdmin()">
                <ngx-liste-competitions></ngx-liste-competitions>
            </p-tabPanel>
        </p-tabView>
    </nb-card-body>
</nb-card>