<p-table #dt2 [value]="competitionResults" [columns]="cols" [responsive]="true" [paginator]="true"
[rowsPerPageOptions]="[20,30,50]" [rows]="20" dataKey="id"
[globalFilterFields]="['competition.name','competition.startEvent','competition.endEvent' ,'competition.sportType']">
<ng-template pTemplate="caption">
    <div class="table-header">
        <span class="p-input-icon-left">
            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                placeholder="Recherche globale" />
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="firstName">Nom<p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="sportType">type<p-sortIcon field="sportType"></p-sortIcon>
        </th>
        <th pSortableColumn="startEvent">Date début<p-sortIcon field="startEvent"></p-sortIcon>
        </th>
        <th pSortableColumn="endEvent">Date fin<p-sortIcon field="endEvent"></p-sortIcon>
        </th>
        <th pSortableColumn="endEvent">Score<p-sortIcon field="endEvent"></p-sortIcon>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-table>
    <tr>
        <td>{{table?.competition?.name}}</td>
        <td>{{table?.competition?.sportType}}</td>
        <td>{{table?.competition?.startEvent | date:' dd-MM-yyyy hh:mm'}}</td>
        <td>{{table?.competition?.endEvent | date:' dd-MM-yyyy hh:mm'}}</td>
        <td pEditableColumn>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input  type="text" [(ngModel)]="table.score" (blur)=updateScroe(table)>
                </ng-template>
                <ng-template pTemplate="output">
                    {{table?.score}}
                </ng-template>
            </p-cellEditor>
        </td>
    </tr>
</ng-template>
<!-- <ng-template pTemplate="emptymessage" let-table>
    <tr>
        <td [attr.colspan]="table?.length">
            <div style="display: flex;
                    justify-content: center;">
                La liste est vide
            </div>

        </td>
    </tr>
</ng-template> -->
</p-table>