<p-toast></p-toast>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Calendrier</span></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="table-header">
            <span class="p-input-icon-left">
                <input pInputText type="text" placeholder="Recherche globale" [(ngModel)]="filter" (change)="filterEvent()"/>
            </span>
        </div>
        <br><br>
        <full-calendar [options]="options" ></full-calendar>
    </nb-card-body>
</nb-card>

<p-dialog  header="Details compétition" [(visible)]="display" [modal]="true"
[baseZIndex]="10000" [style]="{width: '700px', minWidth: '200px'}" [minY]="70">
voulez-vous annuler votre participation ?
<p-footer>
    <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
        <button style="width: 45%;" type="button" (click)="display=false" class="btn wi_btn wi_secondaryBtn">
            Quitter
        </button>
        <button style="width: 45%;" type="button" (click)="confirme()" class="btn wi_btn wi_primaryBtn">
            Supprimer
        </button>
    </div>
</p-footer>
</p-dialog>
  