<!-- <ngx-bread-crumb></ngx-bread-crumb> -->
<nb-card  [nbSpinner]="loading" nbSpinnerStatus="primary" >
    <nb-card-header>
      <div class="row">
        <div class="col-md-6"><span style="font-size: 20px;">Creation Compétition</span></div>
      </div>
    </nb-card-header>
    <nb-card-body>
          <form [formGroup]="TrainingGroupForm" (ngSubmit)="addTrainingGroup()">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label  class="label">Nom TrainingGroup : <span style="color: red">*</span></label>
                        <input type="text" formControlName="name" nbInput fullWidth  placeholder="Nom TrainingGroup" [ngClass]="{'has-error': isTrainingGroupFormSubmitted && (formControls.name.errors )}">
                        <label *ngIf=" isTrainingGroupFormSubmitted && (formControls.name.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir le nom</label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label  class="label">Désciption : <span style="color: red">*</span></label>
                        <textarea  cols="30" rows="10" formControlName="description" nbInput fullWidth  placeholder="Désciption" [ngClass]="{'has-error': isTrainingGroupFormSubmitted && (formControls.description.errors )}"></textarea>
                        <!-- <input type="text" formControlName="description" nbInput fullWidth  placeholder="Désciption" [ngClass]="{'has-error': isTrainingGroupFormSubmitted && (formControls.description.errors )}"> -->
                        <label *ngIf=" isTrainingGroupFormSubmitted && (formControls.description.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir votre déscription</label>
                      </div>
                    </div>
                
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label  class="label">Type sport : <span style="color: red">*</span></label>
                      <nb-select fullWidth placeholder="Type de sport" formControlName="sportType"
                          [status]="isTrainingGroupFormSubmitted && (formControls.sportType.errors ) ? 'danger': ''">
                          <nb-option *ngFor="let item of types" [value]="item.value">{{item.name}}</nb-option>
                      </nb-select>
                      <label *ngIf=" isTrainingGroupFormSubmitted && (formControls.sportType.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir un type</label>
  
                    </div>
                  </div>
                </div>
                  <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
                      <button style="width: 45%;" type="button" (click)="returntolist()" class="btn wi_btn wi_secondaryBtn">
                          Annuler
                      </button>
          
                      <button *ngIf="isAutorised()" style="width: 45%;" type="submit" class="btn wi_btn wi_primaryBtn">
                          Enregistrer
                      </button>
                  </div>
              
                </form>               
    </nb-card-body>
  </nb-card>
  