/* Matching plans page */
.wi__matching-plans__card {
    border: 1px solid #e1e2e8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    border-radius: 4px;
  }
  .wi__matching-plans-p__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    background: white;
    border: none;
    border-top: 3px solid #009b7c;
    box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
    border-radius: 4px;
  }
  .wi__matching-plans__card-title {
    font-family: "Avenir Heavy", sans-serif;
    color: #232332;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .wi__matching-plans__card-price {
    font-size: 50px;
    color: #009b7c;
    margin-bottom: 20px;
    line-height: 80px;
    padding-bottom: 0;
  }
  .wi__matching-plans__card-price sup {
    font-size: 16px;
    /* top: -44px; */
    left: 4px;
  }
  .wi__matching-plans__card-subline {
    font-family: "Avenir Heavy", sans-serif;
    color: #58575a;
  }
  .wi__matching-plans__card-tag {
    color: #009b7c;
    background: rgba(0, 155, 124, 0.05);
    border-radius: 2px;
    padding: 0 10px;
    margin-bottom: 36px;
  }
  .wi__matching-plans__card-list {
    /* text-align: center; */
    padding-left: 0;
    height: 190px;
    margin-bottom: 50px;
  }
  .wi__matching-plans__card-list li {
    color: #58575a;
    margin-bottom: 15px;
    /* list-style: none; */
  }
  .wi__matching-plans__card-list li:last-child {
    color: #58575a;
    margin-bottom: 0;
  }
  /* Matching plans completed page */
  .wi__matching-plans__recap {
    background: #f8f9fc;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .wi__matching-plans__recap-left {
    display: flex;
    align-items: center;
  }
  .wi__matching-plans__recap-left > p:first-child {
    font-family: "Avenir Heavy";
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .wi__matching-plans__recap-left > p:nth-child(2) {
    font-family: "Avenir Heavy";
    color: #58575a;
    margin-bottom: 0;
  }
  .wi__matching-plans__recap-left > div {
  }
  .wi__matching-plans__recap-left > div p:first-child {
    font-family: "Avenir Heavy";
    color: #58575a;
    margin-bottom: 0;
  }
  .wi__matching-plans__recap-left > div p:nth-child(2) {
    color: #009b7c;
    background: rgba(0, 155, 124, 0.05);
    border-radius: 2px;
    padding: 0 10px;
    margin-bottom: 0;
  }
  .wi__matching-plans__recap-right {
    font-size: 48px;
    color: #009b7c;
    margin-bottom: 0;
    line-height: 0;
    padding-top: 18px;
  }
  .wi__matching-plans__recap-right sup {
    font-size: 16px;
    top: -24px;
  }
  
  .wi-back {
    zoom: 3;
    padding-left: 6px;
    color: #009b7c ;
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    .wi__matching-plans__card-price {
      font-size: 35px;
      color: #009b7c;
      margin-bottom: 20px;
      line-height: 80px;
      padding-bottom: 0;
  }
  
  }
  
  @media screen and (max-width: 767px){
    .horizontalSpace{
      margin-top: 30px;
    }
    .wi__matching-plans__card-price {
      font-size: 45px;
      color: #009b7c;
      margin-bottom: 20px;
      line-height: 80px;
      padding-bottom: 0;
  }
  }