/* ---------- General ----------*/
.wi__opportunity-card {
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    margin-bottom: 30px;
  }
  /* ---------- Layout ----------*/
  .wi__opportunity-card__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #eef1f4;
    padding: 20px;
  }
  .wi__opportunity-card__body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eef1f4;
    padding: 10px 20px;
  }
  .wi__opportunity-card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
  }
  /* ---------- Details part ----------*/
  .wi__opportunity-card__head__left-part {
    display: flex;
  }
  .wi__opportunity-card__head__right-part {
  }
  .wi__opportunity-card__head__right-part img {
    width: 22px;
  }
  .wi__opportunity-card__company-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dfe2e6;
  }
  .wi__opportunity-card__company-infos {
    margin-left: 10px;
  }
  .wi__opportunity-card__company-infos > div {
    display: flex;
    align-items: center;
  }
  .wi__opportunity-card__company-name {
    font-family: "Avenir Heavy";
    margin-bottom: 0;
    margin-right: 10px;
  }
  .wi__opportunity-card__company-flag {
    width: 22px;
    /* height: 22px; */
  }
  .wi__opportunity-card__company-subline {
    margin-bottom: 0;
    font-size: 12px;
    color: #58575a;
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid #dbdbdb;
    height: 14px;
  }
  .wi__opportunity-card__company-subline:last-child {
    padding-right: 0;
    margin-right: 0;
    /* border-right: none; */
  }
  .wi__opportunity-card__company-assets {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .wi__opportunity-card__company-assets:last-child {
    margin-bottom: 0;
  }
  .wi__opportunity-card__company-assets span:first-child {
    color: #58575a;
    // width: 30%;
  }
  .wi__opportunity-card__company-assets span:last-child {
    color: #969696;
    padding: 0 10px;
    background: #f8f9fc;
    height: 20px;
    border-radius: 10px;
  }
  .wi__opportunity_card__orange_tag {
    color: #ff8719 !important;
    background: rgba(255, 135, 25, 0.1) !important;
  }
  .wi__bookmark-btn {
    border-right: 1px solid #eef1f4;
    height: 70px;
    width: 70px;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .wi__opportunity-card__actions > button {
    width: 50%;
  }
  .wi__opportunity-card__actions > button:last-child {
    margin-left: 10px;
  }
  
  .status-not-dispo {
    color: red;
    border: 1px solid red;
    border-radius: 40px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px !important;
    padding-top: 3px;
  }
  
  .status-dispo {
    color: green;
    border: 1px solid green;
    border-radius: 40px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px !important;
    padding-top: 3px;
  }
  
  .status-not-dispo-now {
    color: #e0a800;
    border: 1px solid #e0a800;
    border-radius: 40px;
    padding-bottom: 38px;
    padding-left: 10px;
    padding-right: 10px !important;
    padding-top: 3px;
  }
  
  .btn-dispo {
    color: white;
    border: 1px solid #009B7C;
    background-color: #009B7C;
    border-radius: 40px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px !important;
    padding-top: 3px;
  }
  