<div >
    <br>
    <label > Commentaire: </label>
    <textarea cols="10" rows="10"[(ngModel)]="message" nbInput fullWidth placeholder="Désciption"></textarea>
    <br><br>
    <button style="width: 45%;float: right;" type="button" (click)="addComment()" class="btn wi_btn wi_primaryBtn">
        Ajouter Commentaire
    </button>
    
</div>
<br><br><br>
<div *ngFor="let currentOpp of comments" class="wi__opportunity-card cursor-p" (click)="displayDetailsAction()">
    <div class="wi__opportunity-card__head">
        <div class="wi__opportunity-card__head__left-part">
            <div class="wi__opportunity-card__company-infos">
                <div>
                    <p class="wi__opportunity-card__company-name">
                        {{currentOpp?.user?.firstName }} {{currentOpp?.user?.lastName }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wi__opportunity-card__body">
        <p class="wi__opportunity-card__company-assets"><span></span><span
                class="wi__opportunity_card__orange_tag" style="height: 100%;">{{currentOpp?.message}}</span></p>

    </div>
</div>