<nb-card>
    <nb-card-header>Competition position</nb-card-header>
    <nb-card-body *ngIf="options">
      <div leaflet [leafletOptions]="options"></div>
    </nb-card-body>
  </nb-card>


  <ngx-details-competition *ngIf="currnetCompetition && displayDetails" (closeDetails)="closeDetails()"
    [displayDetails]="displayDetails" [currentCompetition]="currnetCompetition"></ngx-details-competition>