<p-toast></p-toast>
<nb-card  [nbSpinner]="loading" nbSpinnerStatus="primary" >
  <nb-card-header>
    <div class="row">
      <div *ngIf="!id" class="col-md-6"><span style="font-size: 20px;">Creation Compétition</span></div>
      <div *ngIf="id" class="col-md-6"><span style="font-size: 20px;">Modification Compétition</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
        <form [formGroup]="CompetitionForm" (ngSubmit)="addCompetition()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Nom Competition : <span style="color: red">*</span></label>
                      <input type="text" formControlName="name" nbInput fullWidth  placeholder="Nom Competition" [ngClass]="{'has-error': isCompetitionFormSubmitted && (formControls.name.errors )}">
                      <label *ngIf=" isCompetitionFormSubmitted && (formControls.name.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir le nom</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" style="
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                          ">
                        <label for="firstName">Logo :</label>
                        <label class="cursor-p">
                            <img src="{{
                                image != null
                                  ? image
                                  : '../../../../../assets/images/add_photo.png'
                              }}" style="max-width: 120px; min-width: 120px" />
                            <input id="pic" type="file" accept="image/*" (change)="onFileChange($event)" hidden />
                        </label>
                    </div>
                </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label  class="label">Désciption : <span style="color: red">*</span></label>
                      <textarea  cols="30" rows="10" formControlName="description" nbInput fullWidth  placeholder="Désciption" [ngClass]="{'has-error': isCompetitionFormSubmitted && (formControls.description.errors )}"></textarea>
                      <!-- <input type="text" formControlName="description" nbInput fullWidth  placeholder="Désciption" [ngClass]="{'has-error': isCompetitionFormSubmitted && (formControls.description.errors )}"> -->
                      <label *ngIf=" isCompetitionFormSubmitted && (formControls.description.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir votre déscription</label>
                    </div>
                  </div>
              
                <div class="col-sm-12">
                  <div class="form-group">
                    <label  class="label">Type sport : <span style="color: red">*</span></label>
                    <nb-select fullWidth placeholder="Type de sport" formControlName="sportType"
                        [status]="isCompetitionFormSubmitted && (formControls.sportType.errors ) ? 'danger': ''">
                        <nb-option *ngFor="let item of types" [value]="item.value">{{item.name}}</nb-option>
                    </nb-select>
                    <label *ngIf=" isCompetitionFormSubmitted && (formControls.sportType.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir un type</label>

                  </div>
                </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Latitude : <span style="color: red">*</span></label>
                      <input type="text" formControlName="latitude" nbInput fullWidth  placeholder="Latitude" [ngClass]="{'has-error': isCompetitionFormSubmitted && (formControls.latitude.errors )}">
                      <label *ngIf=" isCompetitionFormSubmitted && (formControls.latitude.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir la latitude</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Longitude : <span style="color: red">*</span></label>
                      <input type="text" formControlName="longitude" nbInput fullWidth  placeholder="longitude" [ngClass]="{'has-error': isCompetitionFormSubmitted && (formControls.longitude.errors )}">
                      <label *ngIf=" isCompetitionFormSubmitted && (formControls.longitude.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller remplir la longitude</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Date début : <span style="color: red">*</span></label>
                      <p-calendar fullWidth class="disgness" formControlName="startEvent" [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar>
                      <label *ngIf=" isCompetitionFormSubmitted && (formControls.startEvent.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir une date de début</label>
                      <label *ngIf=" isCompetitionFormSubmitted && (!formControls.startEvent.errors ) && !hasValidDate" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir une date Valide</label>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label  class="label">Date fin : <span style="color: red">*</span></label>
                        <p-calendar fullWidth formControlName="endEvent" [showTime]="true" [showSeconds]="true" inputId="time"></p-calendar>
                        <label *ngIf=" isCompetitionFormSubmitted && (formControls.endEvent.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir une date de fin</label>
                        <label *ngIf=" isCompetitionFormSubmitted && (!formControls.endEvent.errors ) && !hasValidDate" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller choisir une date Valide</label>
                      </div>
                    </div>
            </div>
                <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
                    <button style="width: 45%;" type="button" (click)="returntolist()" class="btn wi_btn wi_secondaryBtn">
                        Annuler
                    </button>
        
                    <button style="width: 45%;" type="submit" class="btn wi_btn wi_primaryBtn">
                        Enregistrer
                    </button>
                </div>
            
              </form>               
  </nb-card-body>
</nb-card>
