<div class="row">
  <div class="col-md-3" >
    <nb-card size="tiny" class="card-style" >
        Nombre Utilisateur :
        <br><br>
        {{users?.length}}
    </nb-card>  
  </div>
  <div class="col-md-3">
    <nb-card size="tiny" class="card-style" >
      Nombre Competition :
      <br><br>
      {{compertitions?.length}}
    </nb-card>  
  </div>
  <div class="col-md-3">
    <nb-card size="tiny" class="card-style" >
      Nombre Sportif :
      <br><br>
      {{sportifs?.length}}
    </nb-card>  
  </div>
  <div class="col-md-3">
    <nb-card size="tiny" class="card-style">
      Nombre Groupe d'entraînement :
      <br><br>
      {{groups?.length}}
    </nb-card>  
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <div class="row">
            <div class="col-md-12"><span style="font-size: 20px;">Milleure note des Compétitions</span></div>
        </div>
    </nb-card-header>
      <ngx-profit-chart #profitChart [profitChartData]="profitChartData"></ngx-profit-chart>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card size="medium">
      <nb-card-header>
        <div class="row">
            <div class="col-md-12"><span style="font-size: 20px;">Les Compétitions les Plus Commenter</span></div>
        </div>
    </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let commten of commtens">
          {{commten[1]}} : {{commten[2]}} commentaire(s)
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>


<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->