<p-toast></p-toast>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Gestion des Organisateurs</span></div>
            <div class="col-md-6">
                <span style="float: right">{{dt.totalRecords}} Organisateur(s)&nbsp;&nbsp;</span>

            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="" style="text-align: center; margin-top: 8px;">
                    <button type="button" (click)="addSportif()" style="float: right;" class="icon-btn add-btn">
                        <div class="add-icon"></div>
                        <div class="btn-txt">Ajouter un Nouveau organisateur</div>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <p-table #dt [value]="users" [columns]="cols" [loading]="loading" [responsive]="true" [paginator]="true"
            [rowsPerPageOptions]="[20,30,50]" [rows]="20"
            [globalFilterFields]="['firstName','lastName','email']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <!-- <i class="pi pi-search"></i> -->
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Recherche globale" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>logo</th>
                    <th pSortableColumn="firstName">Prénom<p-sortIcon field="firstName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="lastName">Nom<p-sortIcon field="lastName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">email<p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sportType">Type de sport<p-sortIcon field="sportType"></p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-table>
                <tr>
                    <td>
                        <img width="50" [src]="table.logo" alt="">
                    </td>
                    <td>{{table.firstName}}</td>
                    <td>{{table.lastName}}</td>
                    <td>{{table.email}}</td>
                    <td>{{table.sportType}}</td>
                    <td> <i (click)="editSportif(table)"
                            class="far fa-edit cursor buttonround editbutton"></i>&nbsp;&nbsp;
                        <i (click)="deleteSportif(table)"
                            class="far fa-trash-alt cursor buttonround deletebutton"></i>&nbsp;&nbsp;
                        <span *ngIf="table?.isActive"><i (click)="disable(table)"
                            class="fa fa-lock cursor buttonround affiche1button"></i>&nbsp;&nbsp;</span>
                        <i *ngIf="!table?.isActive" (click)="enableUser(table)"
                            class="fa fa-unlock cursor buttonround affiche2button"></i>&nbsp;&nbsp;
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-table>
                <tr>
                    <td [attr.colspan]="table.length">
                        <div style="display: flex;
                                justify-content: center;">
                            La liste est vide
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </nb-card-body>
</nb-card>

<p-dialog header="Supprimer Compétition" [(visible)]="diplay" [modal]="true" [responsive]="true"
    [style]="{width: '700px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10">
    Voulez-vous bien supprimer ce sportif ?
    <p-footer>
        <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
            <button style="width: 45%;" type="button" (click)="diplay=false" class="btn wi_btn wi_secondaryBtn">
                Quitter
            </button>
            <button style="width: 45%;" type="button" (click)="confirme()" class="btn wi_btn wi_primaryBtn">
                Supprimer
            </button>
        </div>
    </p-footer>
</p-dialog>