header {
    background: white;
    height: 80px;
    /* display: flex; */
    align-items: center;
    padding-top: 10px;
    border-bottom: 1px solid #F1F1F1;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wi__header__left {
    display: flex;
    align-items: center;
  }
  .wi__header__right {
    display: flex;
    align-items: center;
  }
  .wi__header__logo {
    width: 195px;
    margin-right: 13px;
    margin-top: -5px;
  }
  .wi__header__nav {
  
  }
  .wi__header__nav-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  .wi__header__nav-item {
    margin-right: 20px;
  }
  .wi__header__nav-link {
    color: #58575A;
  }
  .wi__header__nav-link:hover {
    color: #009B7C;
    text-decoration: none;
  }
  .wi__header__nav-link.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
  .wi__header__btn-login {
    font-family: "Avenir Heavy";
    margin-right: 30px;
    color: #58575A;
  }
  .wi__header__btn-login:hover {
    color: #009B7C;
    text-decoration: none;
  }
  .wi__header__btn-signup {
    font-family: "Avenir Heavy";
    color: #58575A;
    border: 1px solid #58575A;
    background: transparent;
    border-radius: 20px;
    padding: 0 40px;
    height: 40px;
  }
  .wi__header__btn-signup:hover {
    color: #009B7C;
    border: 1px solid #009B7C;
  }
  
  /* USER COMPONENT */
  .wi__header__user {
    cursor: pointer;
  }
  .wi__header__user__dropdown {
  
  }
  .wi__header__user__dropdown-toggle {
    display: flex;
    align-items: center;
  }
  .wi__header__user__dropdown-toggle::after {
    color: #58575A;
  }
  .wi__header__user__user-initial {
    font-family: "Avenir Heavy";
    margin-bottom: 0;
    background: rgba(0, 155, 124, .05);
    color: #009B7C;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
  }
  .wi__header__user__user-info {
    margin-right: 8px;
  }
  .wi__header__user__user-name {
    font-family: "Avenir Heavy";
    margin-bottom: 0;
  }
  .wi__header__user__user-company {
    font-size: 12px;
    color: #969696;
    margin-bottom: 0;
  }
  .wi__header__user__dropdown-menu {
    padding: 20px 0;
    width: 250px;
    left: -21px!important;
    border: 1px solid #F1F1F1;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, .5);
  }
  .wi__header__user__dropdown-menu__link {
    padding: 0 20px;
    height: 40px;
    color: #58575A;
  }
  .wi__header__user__dropdown-menu__link:active {
    background: none;
  }
  .wi__header__user__dropdown-menu__link:focus {
    outline: none;
  }
  .wi__header__bell{
    padding-right: 32px;
    font-size: 19px;
    color: #6c757d;
  }
  
  .wi__bell_size{
      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: 1px solid #edeef2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #edeef2;
  }
  .badge__postion{
    margin-left: 29px;
    border-radius: 21px;
    top: 9px;
    position: absolute;
    background-color: #ff204c;
  }
  
  /* ----- MODAL ----- */
  .modal-header {
    padding: 40px;
    border-bottom: none;
  }
  .modal-body {
    padding: 0 40px;
  }
  .modal-body p:first-child {
    margin-bottom: 20px;
    color: #58575A;
  }
  .modal-body p:nth-child(2) {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    color: #58575A;
    margin-bottom: 0;
  }
  .modal-footer {
    padding: 40px;
    border-top: none;
  }
  .modal-footer button {
    width: 48%;
    margin: 0;
  }
  .modal-footer button:last-child {
    margin-left: 4%;
  }
  
  .modal-dialog{
    margin-top: 187px;  
  
  }
    .wi__space{
    display: flex;
    justify-content: space-around;
  }
  
  .wi__payment_btn_width{
    width: 45%;
  }
  .wi__payment_row_width{
    width: 100%;
  }
  
  .wi_formBtnPart button {
    width: 49%;
  }
  .hide_bell_nav{
    display: none;
  }
  @media screen and (max-width: 991px){
    .wi__header__logo {
      width: 214px;
      margin-right: 0px;
    }
    .hide_bell_nav{
      display: block;
    }
    .hide_bell{
      display: none;
    }
    .wi__header__nav-item {
      margin-right: 40px;
      margin-bottom: 15px;
    }
    .notif_postion{
      position: absolute;
      top: 70px;
      right: 30px !important;
      z-index: 100;
    }
    
  
  }
  @media screen and (max-width: 403px){
    .notif_postion{
      position: absolute;
      top: 70px;
      right: 5% !important;
      z-index: 100;
    }
  }
  
  @media screen and (max-width: 400px){
    .notif_postion{
      position: absolute;
      top: 70px;
      right: 3% !important;
      z-index: 100;
    }
  }
  @media screen and (max-width: 385px){
    .notif_postion{
      position: absolute;
      top: 70px;
      right: 2% !important;
      z-index: 100;
    }
  }
  @media screen and (max-width: 368px){
    .notif_postion{
      position: absolute;
      top: 70px;
      right: -1% !important;
      z-index: 100;
    }
  }
  
  .notif_postion{
    position: absolute;
    top: 70px;
    right: 100px;
  }
  