<nb-layout windowMode>
    <nb-layout-column>

<!-- Nav Bar Start -->
<header class="fixed-top" style="z-index: 999;">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
        
        <a routerLink="/my/dashboard" style="margin-top: -12px;"><span class="navbar-brand wi__header__logo" style="display: flex;
            justify-content: center;font-size: 36px;padding-top: 22px;">ESF</span></a>
        <div style="display: flex;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div ngbDropdown autoClose="true" class="collapse navbar-collapse" id="navbarNavDropdown" #navbarNavDropdown>
          <ul class="navbar-nav mr-auto">
            <!-- <li class="wi__header__nav-item">
              <a class="wi__header__nav-link" routerLink="/my/dashboard"
                [ngStyle]="{'color': '#009B7C'}">Home</a>
            </li> -->
          </ul>
          <div class="form-inline">
            <div class="wi__header__user" >
                <a class="btn btn-custom" *ngIf="!isLoggedIn()" [routerLink]="['/auth']" >Se Connecter</a>
                <a class="btn btn-custom" *ngIf="isLoggedIn()" [routerLink]="['/pages/gestionCompetition']" >Gestion des Compétitions </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
<!-- Nav Bar End -->


<!-- Carousel Start -->
<div>
    <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"  [numVisible]="5"
    [showThumbnails]="false" [showIndicators]="true"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
</div>



<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../../assets/images/relay-race-competition-stadium-sport.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>À PROPOS DE NOUS</p>
                    <h2>Créateur de Compétition</h2>
                </div>
                <div class="about-content">
                    <p>
                        Notre platform vous permet de participer à des compétitions si vous êtes un sportif ou de créer des compétitions si vous êtes un organisateur avec et d'autres fonctionnalités comme :
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Consulter calendrier </li>
                        <li><i class="far fa-check-circle"></i>Consulter la position de la compétition</li>
                        <li><i class="far fa-check-circle"></i>Rejoindre un groupe d'entrainement </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>Position </p>
                    <h2>Position des dernier compétitions</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Jeux Olympiques </h3>
                                <p>Pékin</p>
                                <p><strong>(4-13 mars)</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Golf : Masters</h3>
                                <p>Augusta </p>
                                <p><strong>(7-10 avril)</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Tennis : Roland-Garros</h3>
                                <p>French</p>
                                <p><strong>(16 mai-5 juin)</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point</h3>
                                <p>123 Street, New York, USA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img">
                    <img width="600" src="../../assets/images/country-flags-on-world-map-wallpaper-mural-wm-ofd000024-41481682.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->


<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>NOS COMPETITIONS</p>
            <h2>Dernières nouvelles des compétitions</h2>
        </div>
        <div class="row">
            <div class="col-lg-4" style="display: flex;
            justify-content: center;" *ngFor="let item of compertitions">
                <div class="blog-item">
                    <div class="blog-img" style="width: 100px;">
                        <img [src]="item.logo" alt="Image">
                        <div class="meta-date">
                            <span>{{item.startEvent  |date: ' dd'}}</span>
                            <strong>{{item.startEvent  |date: ' MMM'}}</strong>
                            <span>{{item.startEvent |date: ' yyyy'}}</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <h3>{{item.name}}</h3>
                        <p>
                            {{item.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>NOS NEWS</p>
            <h2>Dernières Events</h2>
        </div>
        <div class="row">
            <div class="col-lg-4" style="display: flex;
            justify-content: center;" *ngFor="let item of rssList">
                <div class="blog-item">
                    <div class="blog-img">
                        <img [src]="item.enclosure" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3>{{item.title}}</h3>
                        <p [innerHTML]="item.description">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Nos partenaire</p>
            <h2>PREMIER & TECHNICAL PARTNERS - Global</h2>
        </div>
        <div class="row">
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn2.sportngin.com/attachments/photo/8e6e-137219267/active_logo.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn4.sportngin.com/attachments/photo/ee7c-154093750/athletic_brewing_logo_large.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn4.sportngin.com/attachments/photo/b901-159992669/breitling_logo_200x200_large.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn4.sportngin.com/attachments/photo/7120-156518587/gatorade_endurance_logo_large.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn2.sportngin.com/attachments/photo/3f5b-153430921/hoka_one_one_logo.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn3.sportngin.com/attachments/photo/3392-164963486/hyperice_logo_200x200_large.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn1.sportngin.com/attachments/photo/67cd-154807184/maurten_logo_200x200_large.png" alt="">
            </div>
            <div class="col-lg-3" style="display: flex;justify-content: center;">
                <img width="150" src="https://cdn4.sportngin.com/attachments/photo/da73-137219143/roka_logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->


<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <div class="footer-contact">
                    <h2>Get In Touch</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Rue Jean-Pierre Timbaud</p>
                    <p><i class="fa fa-phone-alt"></i>+06 345 67890</p>
                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                    <div class="footer-social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-newsletter">
                    <h2>Newsletter</h2>
                    <form>
                        <input class="form-control" placeholder="Full Name">
                        <input class="form-control" placeholder="Email">
                        <button class="btn btn-custom">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
</div>

<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</nb-layout-column>
</nb-layout>