<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Creation Sportif</span></div>
        </div>
    </nb-card-header>
    <nb-card-body>

        <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
            <div class="row">
                <!-- company Name -->
                <div class="col-lg-6">
                    <div class="form-group wi_formGroup">
                        <label for="firstName">Nom : <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" [class.is-invalid]="
              isUserFormSubmitted && formControls.firstName.errors
            " id="firstName" name="firstName" placeholder="Nom" required formControlName="firstName" />
                        <div *ngIf="isUserFormSubmitted && formControls.firstName.errors">
                            <small class="text-danger">Veuillez remplir votre nom</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group wi_formGroup">
                        <label for="lastName">Prénom : <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" [class.is-invalid]="
              isUserFormSubmitted && formControls.lastName.errors
            " id="lastName" name="lastName" placeholder="Prénom" required formControlName="lastName" />

                        <div *ngIf="isUserFormSubmitted && formControls.lastName.errors">
                            <small class="text-danger">Veuillez remplir votre Prénom</small>
                        </div>
                    </div>
                </div>
                <!-- Mail -->
                <div class="col-lg-6">
                    <div class="form-group wi_formGroup">
                        <label for="email">E-mail: <span style="color: red;">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                            [class.is-invalid]="isUserFormSubmitted && formControls.email.errors"
                            formControlName="email" />
                        <div *ngIf="isUserFormSubmitted && formControls.email.errors">
                            <small class="text-danger">Veuillez remplir votre email</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group" style="
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                          ">
                        <label for="firstName">Logo :</label>
                        <label class="cursor-p">
                            <img src="{{
                                image != null
                                  ? image
                                  : '../../../../../assets/images/add_photo.png'
                              }}" style="max-width: 120px; min-width: 120px" />
                            <input id="pic" type="file" accept="image/*" (change)="onFileChange($event)" hidden />
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group wi_formGroup">
                <label for="firstName">Adresse: <span style="color: red;">*</span></label>
                <input type="text" class="form-control"
                    [class.is-invalid]="isUserFormSubmitted && formControls.adresse.errors" id="adresse" name="adresse"
                    placeholder="Adresse" formControlName="adresse" />

                <div *ngIf="isUserFormSubmitted && formControls.adresse.errors">
                    <small class="text-danger">Veuillez remplir votre adresse</small>
                </div>
            </div>

            <div class="form-group wi_formGroup">
                <label for="firstName">login: <span style="color: red;">*</span></label>
                <input type="text" class="form-control"
                    [class.is-invalid]="isUserFormSubmitted && formControls.login.errors" id="login" name="login"
                    placeholder="login" formControlName="login" />

                <div *ngIf="isUserFormSubmitted && formControls.login.errors">
                    <small class="text-danger">Veuillez remplir votre login</small>
                </div>
            </div>
            <div class="form-group wi_formGroup">
                <label for="firstName">Mot de passe: <span style="color: red;">*</span></label>
                <input type="password" class="form-control" [class.is-invalid]="isUserFormSubmitted 
      && (formControls.password.errors
      || formControls.password.value != formControls.confirmPassword.value)" id="password" name="password"
                    placeholder="Mot de passe" formControlName="password" />
                <div *ngIf="isUserFormSubmitted && formControls.password.errors">
                    <small class="text-danger">Veuillez remplir votre mot de passe</small>
                </div>
                <div *ngIf="isUserFormSubmitted && !formControls.password.errors
        && formControls.password.value != formControls.confirmPassword.value">
                    <small class="text-danger">Veuillez saisir le meme mot de passe</small>
                </div>
            </div>
            <div class="form-group wi_formGroup">
                <label for="firstName">Confirmer mot de passe: <span style="color: red;">*</span></label>
                <input type="password" class="form-control" [class.is-invalid]="isUserFormSubmitted 
        && (formControls.confirmPassword.errors 
        || formControls.password.value != formControls.confirmPassword.value)" id="confirmPassword"
                    name="confirmPassword" placeholder="Mot de passe" formControlName="confirmPassword" />
                <div *ngIf="isUserFormSubmitted && formControls.confirmPassword.errors">
                    <small class="text-danger">Veuillez remplir votre Confirmer mot de passe</small>
                </div>
                <div *ngIf="isUserFormSubmitted && !formControls.confirmPassword.errors
        && formControls.password.value != formControls.confirmPassword.value">
                    <small class="text-danger">Veuillez saisir le meme mot de passe</small>
                </div>
            </div>
            <div class="form-group wi_formGroup">
                <label for="label">Type de Sport : <span style="color: red;">*</span></label>
                <nb-select fullWidth placeholder="Type de sport" formControlName="sportType"
                    [status]="isUserFormSubmitted && (formControls.sportType.errors ) ? 'danger': ''">
                    <nb-option *ngFor="let item of types" [value]="item.value">{{item.name}}</nb-option>
                </nb-select>
                <div *ngIf="isUserFormSubmitted && formControls.sportType.errors">
                    <small class="text-danger">Veuillez choisir vos type</small>
                </div>
            </div>

            <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">
                <button style="width: 45%;" type="button" (click)="back()" class="btn wi_btn wi_secondaryBtn">
                    Retour
                </button>

                <button style="width: 45%;" type="submit" class="btn wi_btn wi_primaryBtn">
                    Crée Compte
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>