<p-toast></p-toast>
<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="form-group wi_formGroup">
        <label for="firstName">Mot de passe: <span style="color: red;">*</span></label>
        <input type="password" class="form-control" [class.is-invalid]="isUserFormSubmitted 
&& (formControls.password.errors
|| formControls.password.value != formControls.confirmPassword.value)" id="password" name="password"
            placeholder="Mot de passe" formControlName="password" />
        <div *ngIf="isUserFormSubmitted && formControls.password.errors">
            <small class="text-danger">Veuillez remplir votre mot de passe</small>
        </div>
        <div *ngIf="isUserFormSubmitted && !formControls.password.errors
&& formControls.password.value != formControls.confirmPassword.value">
            <small class="text-danger">Veuillez saisir le meme mot de passe</small>
        </div>
    </div>
    <div class="form-group wi_formGroup">
        <label for="firstName">Confirmer mot de passe: <span style="color: red;">*</span></label>
        <input type="password" class="form-control" [class.is-invalid]="isUserFormSubmitted 
&& (formControls.confirmPassword.errors 
|| formControls.password.value != formControls.confirmPassword.value)" id="confirmPassword"
            name="confirmPassword" placeholder="Mot de passe" formControlName="confirmPassword" />
        <div *ngIf="isUserFormSubmitted && formControls.confirmPassword.errors">
            <small class="text-danger">Veuillez remplir votre Confirmer mot de passe</small>
        </div>
        <div *ngIf="isUserFormSubmitted && !formControls.confirmPassword.errors
&& formControls.password.value != formControls.confirmPassword.value">
            <small class="text-danger">Veuillez saisir le meme mot de passe</small>
        </div>
    </div>

    <div class="wi_formBtnPart wi_dFlex wi_aI-C wi_jC-SB">

        <button style="width: 45%;" type="submit" class="btn wi_btn wi_primaryBtn">
            Modifier Compte
        </button>
    </div>
</form>